body{
   font-family: 'Silkscreen', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
 background-image: url('../../src/img/background.png');
  background-color: #c5f6f8;
   animation: bg-scroll 120s linear infinite;
}

/* diagonal bottom-right movement */
@keyframes bg-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    /* tweak these for speed + direction */
    background-position: -100% -100%;
  }
}




/*Stepper custom font weil idk iwie wierd das man das nur hier so richtig wierd machen muss*/
.p-step .p-step-title {
  font-family: 'Silkscreen', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/*Divider text background musste auch überschrieben werden weil idk tbh */
.my-credits-divider.p-divider-horizontal::before {
  border-top-left-radius: 1000%;
  border-top-right-radius: 1000%;
  border-top-color: rgba(0, 0, 0, 0.26);
  border-top-width: 3px;        /* Dicke */
  /* optional auch Stil/Farbe anpassen */
  /* border-top-style: solid; */
  /* border-top-color: #38bdf8; */
}

.my-credits-divider .p-divider-content {
  background-color: #c5f6f8;
  border-radius: 10%;
}

.p-step .p-step-number {
  font-family: 'Silkscreen', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.rubik-glitch {
  font-family: 'Rubik Glitch', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}