body{
   font-family: 'Silkscreen', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  background-color: #c5f8d1;
}

.rubik-glitch {
  font-family: 'Rubik Glitch', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}